head{
	
}
h1{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #003153;
}
h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #003153;
}
p{
	color: #003153;
	padding-left: 10pt;
}
.font2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #fbf6f7;
	font-family: 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#people {
	display: block;
	padding-left: 0;
	border: black 1px solid;
	list-style: none;
	text-align: center;
	color: #003153;
}

#people li {
	display: inline;
	margin-right: 10px;
	color: #003153;
	}
#economy {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align:center;
	padding-left: 0;
	border: #003153 3pt solid;
	border-radius: 5pt;
	box-shadow: 10pt 8pt #003153;
	list-style: none;
	color: #003153;
	width: 30%;
	margin-left: 35%;
}

#economy li {
	margin-bottom: 1px;
	color: #003153;
}

.fieldset {
	border-style: none;
	color: #003153;
}

button {
	margin: 30px 25px 0 0;
	padding: 10px 15px;
	color: #003153;
}

#spelDiv{
	float: left;
	width: 50%;
	background-color: #E69A8DFF;
	vertical-align: top;
	border-radius: 25px;
}

#infoDiv{
	float: right; 
	width: 49%;
	border-left: solid 1px black; 
	background-color: #5F4B8BFF;
	border-radius: 25px;
}

form{
	text-align: center;
}

#hammurabi_foto{
	margin-bottom: auto;	
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 10%;
	
}
.actionButton{
	box-shadow: 7pt 5pt #003153;
	border-radius: 5pt;
	transition-duration: 0.3s;
	margin-bottom: 10vh;
}
.actionButton:hover{
	background-color: #003253;
	color: white;
	box-shadow: 0 0 0;
}
ol{
	color: #003253;
}