h1{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #003153;
}

p{
	color: #003153;
}

.font2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #fbf6f7;
	font-family: 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
}

#people {
	display: block;
	padding-left: 0;
	border: black 1px solid;
	border-right: none;
	border-left: none;
	list-style: none;
	text-align: center;
	color: #003153;
}

#people li {
	display: inline;
	margin-right: 10px;
	color: #003153;
}

#economy {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align:center;
	padding-left: 0;
	border: #003153 3pt solid;
	border-radius: 5pt;
	box-shadow: 10pt 8pt #003153;
	list-style: none;
	color: #003153;
	width: 30%;
	margin-left: 35%;
}

#economy li {
	margin-bottom: 1px;
	color: #003153;
}

.fieldset {
	border-style: none;
	color: #003153;
}

button {
	margin: 30px 25px 0 0;
	padding: 10px 15px;
	color: #003153;
}

#spelDiv{
	float: left;
	/*padding-left: 2vw;*/
	width: 50%;
	border-right: solid 1px black; 
	/* background-color: pink; */
}

#infoDiv{
	float: right; 
	width: 49%;
	/* background-color: limegreen; */
}

form{
	text-align: center;
}

#hammurabi_foto{
	margin-bottom: auto;	
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 10%;
	
}

.actionButton{
	box-shadow: 7pt 5pt #003153;
	border-radius: 5pt;
	transition-duration: 0.3s;
}

.actionButton:hover{
	background-color: #003253;
	color: white;
	box-shadow: 0 0 0;
}