#people {
	display: block;
	padding-left: 0;
	border: black 1px solid;
	list-style: none;
}

#people li {
	display: inline;
	margin-right: 10px;
	border: black 1px solid;
}

#economy {
	display: block;
	padding-left: 0;
	border: black 1px solid;
	list-style: none;
}

#economy li {
	margin-bottom: 1px;
}

.fieldset {
	border-style: none;
}

button {
	margin: 30px 25px 0 0;
	padding: 10px 15px;
}


